<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TC</title>
    <link rel="stylesheet" href="../static/TC.css">
</head>
<body>
    <div class="term-box">
        <h2>Terms and Conditions</h2>
        <p>Last Edited: 24-06-2023</p>
        <p>Greetings User</p>
        <p>PATIENT PRIVACY POLICY<br>
            This Patient Privacy Policy outlines the procedures and practices of VitalByte ("VitalByte") in compliance with the General Data Protection Regulation (GDPR).<br><br>
            1. Purpose of Data Collection<br><br>
            The purpose of data collection is to provide necessary healthcare services to our patients. We only collect patient data that is necessary for conducting risk assessment, providing recommendations, and other healthcare-related services. The data collected includes gender, age, height, weight, family history of obesity, vegetable intake, daily number of meals, number of food between meals, smoking, water intake, caloric intake, level of physical activity, alcohol intake, use of technology, and transportation type. The stated data is all used with machine learning algorithms for providing an obesity risk assessment level.<br><br>
            2. Data Minimization<br><br>
            Our Institution adheres strictly to the principle of data minimization. We only collect data that is relevant, adequate, and necessary to fulfill our healthcare services. We do not collect more data than is needed.<br><br>
            3. Consent<br><br>
            We obtain explicit consent from our patients before collecting and processing their data. Patients are duly informed of their rights under the GDPR, including the right to withdraw consent at any time.<br><br>
            4. Data Accuracy<br><br>
            Our Institution commits to ensuring that the data we collect is accurate and up-to-date. We provide a mechanism for patients to correct or update their data as needed to ensure its accuracy.<br><br>
            5. Data Retention<br><br>
            We retain patient data for the period necessary to fulfill our healthcare services and in compliance with legal and professional obligations. We do not retain data for longer than is necessary.<br><br>
            6. Data Security<br><br>
            We implement robust technical and organizational measures to secure patient data. We strive to protect against unauthorized or unlawful processing, accidental loss, destruction, or damage. A group of four technological experts on our team will have access to your data. <br><br>
            7. Third-Party Disclosures<br><br>
            Your data will not be shared to a third party. If a patient chooses to share data with third-party service providers, such providers are obligated to comply with GDPR regulations. We obtain explicit consent from patients before any data transfer to third parties.<br><br>
            8. Data Subject Rights<br><br>
            Patients have the right to access their data, correct it, have it deleted, restrict its processing, object to its processing, and data portability. Our Institution respects and upholds these rights in line with GDPR regulations.<br><br>
            9. Data Protection Officer<br><br>
            Our Data Protection Officer (DPO) Mahsa Rouzkhatouni is responsible for ensuring compliance with the GDPR and for dealing with data subjects' inquiries and requests. The DPO can be reached at [MahsaRouzkhatouni@vitalbyte.com].<br><br>
            10. Data Breach Notification<br><br>
            In the event of a data breach, we have established procedures for notifying the relevant supervisory authority and affected data subjects within the required time frames.
            Note: This privacy policy is written in clear, simple language for ease of understanding and accessibility to all patients. For more information or any queries about our Patient Privacy Policy, please contact our Data Protection Officer.
            We advise patients to consult with a legal expert knowledgeable about the GDPR for further information about their rights and obligations. Changes to this policy will be communicated to patients and will be effective upon their publication.
            Please note that using our services constitutes acceptance of this Patient Privacy Policy.<br><br>
            [VitaylByte] [24.06.2023]
            
            </p>
    </div>
</body>
</html>